body {
    background: #d7d7d7;
}

.cards {
    border-radius: 3%; 
    padding-bottom: 1.0rem;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    flex-direction: column;    
    margin: 1rem;    
}

#contenedor {
    display:flex;
    justify-content: center; 
}

.navbar {
    background: rgba(194, 44, 3, .8)!important;
} 

.navbar-brand {
    padding: 0rem;
}

.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
}

#tableContainer{
    display: none;
}
