body {
    background-color: #d6d3d3;
}

.cards {
    border-radius: 15px;
<<<<<<< Updated upstream
    background-color:#fff;
    color: rgb(0, 0, 0);
    flex-direction: column;    
    margin: 8px;
}

#contenedor {
   display:flex;
   justify-content: center; 
}
=======
    border-style: solid;
    border-color: gray;
}
.navbar {
    background: #930505!important;
}
>>>>>>> Stashed changes
